
# dependencies
/node_modules

# local env files
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

# misc
.idea
.DS_Store
yarn-error.log
files
